@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Fira Code", monospace;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  background-image: url(img/makers.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
h1 {
  padding: 30px 0 10px 0;
  font-size: 38px;
}
.countdown_container {
  display: flex;
}
.countdown_el {
  text-align: center;
}
.big_text {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}
.countdown_el span {
  font-weight: 600;
  font-size: 18px;
  padding: 0 20px;
}
